.catagories-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 100px;
  height: 200px;
  position: relative;
  
}

.catagories-brands-grid{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  max-width: 20px;
  
}

.catagories-brands-grid img{
  display: flex;
  position: relative;
  justify-content: space-between;
  height: 100px;
  
  
 
}

.catagories-title{
  font-size: 30px;
}