.header{
  z-index: 100;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 90px;
  background-color: rgb(180, 47, 47);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  font-family: Arial;
 /*  
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgb(107, 107, 107);
  */
}

.left-side{

  width: 100%;
 flex: 1;
 
}

.middle-side{
  
  display: flex;
  flex: 2;
  align-items: center;
  justify-content: center;
  max-width: 900px;
}

.right-side{
  
  width: 100%;
  flex: 1;
  display: flex;
  
}

.logo-pic{
  width: 80px;
  position: relative;
  flex: 1;
  margin-left: 40px;
}


.search-bar{
  flex: 1;
  max-width: 400px;
  font-size: 20px;
  border-radius: 15px;
  padding: 2.7px 10px;
  position: relative;
  border-color: rgb(105, 105, 105);
  border-width: 0.5px;

}

.search-button{
  width: 30px;
  height: 33px;
  position: relative;
  right: 36px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-color: rgb(255, 255, 255);
  border: 10px;
  cursor: pointer;
  background-color: rgba(240, 248, 255, 0);
}

.search-pic{
  
  align-items: center;
}

.cart-pic{
  width: 50px;
  background-color: rgba(0, 255, 13, 0);
  border-width: none;

}

.cart-button{
  background-color: rgba(2, 5, 8, 0);
  position: relative;
  margin: 20px;
  margin-left: 70px;
  border-width: 0;
  cursor: pointer;

}

.prof-button{
  position: relative;
  margin: 20px;
 background-color: rgba(240, 248, 255, 0);
  border: none;
  cursor: pointer;
}

.prof-pic{
  width: 50px;
}


.page-navigation{
  
  display: flex;
  justify-content:center;
  flex-direction: row;
  height: 50px;
  background-color: rgb(136, 33, 33);
  position: relative;
  left: 0;
  right: 0;
  top: 0;

}

.page-nav{
  margin: 5px;
  background-color: rgba(240, 248, 255, 0);
  margin-top: 10px;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.logo-button{
  background-color: rgba(245, 222, 179, 0);
  border-color: rgba(245, 222, 179, 0);
}
.logo-text2{
  font-size: 20px;
  color: white;
  font-weight: bold;
  margin-left: 130px;
  margin-top: -38px;
}